$primary-color: #2855ac;
$secondary-color: #ffc900;
$dark-primary-color: #234d9f;
$white-color: #fff;
$slate-gray-color: #5f6b76;
$blue-gray-color: #8e9fad;
$line-color: #dee3ed;
$black-color: #253342;
$separator-color: #d4d5da;
$card-gray-color: linear-gradient(
  90deg,
  rgba(95, 107, 118, 1) 0%,
  rgba(204, 204, 204, 1) 91%
);

$yapi-kredi-color: linear-gradient(
  90deg,
  rgba(5, 4, 4, 1) 0%,
  rgba(13, 38, 161, 1) 50%
);
