@import "./style/fonts.css";
@import "./style/Variables.scss";

* {
  box-sizing: border-box;
  widows: 100%;
}

html {
  font-family: "GreycliffCF";
}

body {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: none;
  padding: 0;
  margin: 0;
}

i {
  background-color: none;
  padding: 0;
  margin: 0;
}
